.category-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 5px;
  height: 100%;
}

.category-list {
  width: 100%;
}
.active {
  background:  #dddddd;
  font-weight: 700;
}

.child {
  display: block;
  margin-left: 15px;
  padding: 0;
}