.category-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid #dddddd;
    padding: 5px;
    overflow: hidden;

    &:hover {
      background: #eeeeee;
    }
  }

.category-name {
  padding: 0 5px;
  vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    max-width: 140px;
    text-overflow: ellipsis;
}

.red {
  outline: 2px solid red;
}

