.fa-user {
    position: absolute;
    top: 8px;
    left: 18px;
    font-size: 1.5rem;
}

.fa-sign-out-alt {
    font-size: 1.3rem;

    &--red {
        color: $red;
    }
}

.fa-times {
    font-size: 1.3rem;
}

.fa-file-excel {
    color: $light-blue;
    background: green;
}

.fa-flag--red {
    color: $red;
}

.fa-phone {
    transform: rotate(90deg);

    &--red {
        color: $red;
    }
}

.fa-filter {
    z-index:100;
}
