.button {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px;

    &--with-border {
        border: 1px solid #dddddd;
    }

    &:hover {
      background: #bbbbbb;
      border: 1px solid #bbbbbb;
    }
}

.search-button {
    position: relative;
    left: -25px;
}

.fa-arrow-circle-left:after {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    content: ' MOVE';
    font-size: 10px;
}