.main {
    position: fixed;
    overflow-y: auto;
    top: 63px;
    left: 0;
    right:0;
    bottom: 0;
    background: $gray-background;
    padding: 10px 20px;

    &__container {
        margin: 0 auto;
       
    }

    &__previous-page {
        padding: 10px 0;
    }

    &__arrow {
        color: inherit;
    }

    &__tables {
        display: none;
        border-top: 1px solid $gray;
    }

    &__title {
        font-size: 2rem;
    }

    &__label {
        width: 20px;
        height: 18px;
        display: inline-block;
        cursor: pointer;

        &--hide {
            background: url(../image/sprite.png) -57px -24px;
            visibility: visible;
        }
    }

    &__toggle {

        &:checked ~ .main__tables {
            display: block;
            margin-top: 20px;
        }

        &:checked ~ .main__label--hide {
           background-position:  -23px -45px;
        }

    }

    &__table {
        width: 100%;
        font-size: 1rem;
    }

    &__tr {
        border-bottom: 1px solid $gray;
    }

    &__td {
        width: 50%;
        padding: 5px;
        font-weight: bold;
        text-align: left;

        &--second {
            text-align: right;
            font-weight: normal;
        }
    }

    &__categories {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    &__category {
        width: 40%;
        text-align: center;
        text-transform: uppercase;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 10px 0;
        border: 1px solid $gray;
        border-bottom: none;
        cursor: pointer;

        &--checked {
            background: $gray;
            width: 60%;
           
        }
    }

    &__toolbar {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border: 1px solid $gray;
        border-top: none;
        padding: 20px 5px 0 5px;
        
    }

    &__button {
        padding: 10px 0;
        @include border-radius(5px);
        background: linear-gradient(180deg, $button-up-gray, $button-bottom-gray );
        border: 1px solid $gray;
        width: 100%;
        cursor: pointer;
        text-transform: uppercase;
        

        &--filter {

            position: relative;
            width: 100%;
            border-left: none;
            overflow: visible;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;

            &:after {
                content: "";
                width: 22px;
                height: 16px;
                display: block;
                position: absolute;
                top: 10px;
                left: -11px;
                border: 1px solid #D7D7D7;
                border-left: none;
                border-bottom: none;
                border-radius: 2px;
                transform: rotateY(32deg) rotate(243deg) skew(36deg);
                background-image: linear-gradient(143deg, #E1E1E1 0%, #F0F0F0 100%);  
            }
        
        }

        &--out {
            width: 95%;
            padding-left: 5%;
        }
            
    }

    &__tool-item {
        margin-bottom: 5px;

        &--expand {
            width: 31.333%;
            margin-right:3%;
        }

        &--filter {
            width: 32.333%;
            margin-left: 1%;
        }

        &--export {
            width: 31.333%;
        }

        &--select {
            width: 100%;
            
            & option {
                font-size: 0.2rem;
            }
        }
    }

    &__select {
        width: 100%;
        border-radius: 5px;
        padding: 5px;
        border: 1px solid $gray;
    }

}

@media screen and (min-width: 750px) {

    .main {
        position: absolute;
        top: 0;
        left: 250px;
        right:0;
        bottom: 0;
        padding: 10px 40px;
        

        &__container {
            max-width: 900px;
            position: relative;
        }

        

        &__toolbar {
            flex-wrap: nowrap;
            padding-bottom: 5px;
            margin-bottom: 10px;
        }

        &__tool-item {

            margin: 0;

            &--export {
                position: absolute;
                top: 15px;
                right: 0px;
                width: 100px;
            }

            &--expand {
                width: 24%;
                margin-right: 1%;
            }

            &--filter {
                order: 2;
                width: 24%;
                margin-left: 1%;
            }

            &--select {
                order: 1;  
                width: 50%; 
            }
        }

        &__select {
            width: 100%;
            padding:10px 5px;
            
        }

        &__button {
            width: 100%;

            &--filter {
                width: 97%;
                  margin-left: 3%;
            }

            &--export {
                width: 90%;
                padding-left: 10%;
            }
        }

    }
}

@media (min-width: 992px) { 
    .main {

        &__toggle {

            &:checked ~ .main__tables {
                display: flex;
                justify-content: space-between;
            }
        }
    
        &__table {
            width: 50%;
        }
    
    }


}
    


/*block info*/

.info {

    &__container {
        margin-bottom: 20px;
    }

    &__box {
        background: $white;
        border: 1px solid $gray;
        color: $red;
        position: relative;
        line-height: 1.5rem;
        padding: 10px;

        &--border {
            border-top:  1px solid $gray-background;
        }
    }

    &__category {
        text-transform: uppercase;
    }

    &__date {
        color: $gray;
        position: absolute;
        top: 10px;
        right: 63px;
    }

    &__badge {
        color: $gray;
        position: absolute;
        padding: 4px 10px;
        border-radius: 5px ;
        text-transform: uppercase;
        font-size: 0.8rem;
        line-height: 0.8rem;

        &--red {
            background: $red;
            color: $white;
            top: 10px;
            right: 11px;
            
        }

        &--white {
            top: 60px;
            left: 47px;
            background: $white;
            color: $red;
            border: 1px solid $red;
        }
    }

    &__name {
        color: $black;
        font-size: 2rem;
        line-height: 2.5rem;
    }

    &__company {
        text-transform: uppercase;
        color: $black;
        line-height: 2rem;
    }

    &__position {
        color: $black;
    }

    &__timezone {
        border-top: 1px solid $gray;
    }

    &__timezone-title {
        text-decoration: underline;
    }

    &__timezone-value {
        padding-left: 20px;
    }

    &__button {
        padding: 5px;
        text-align: left;
        text-transform: uppercase;
        width: 100%;
        border: 1px solid $gray;
        border-bottom: 1px solid $gray;
        background: $gray-background;
    }

}

@media screen and (min-width: 750px) {
    .info {

        &__buttons-list {
            display: flex;
        }

        &__button {
            text-align: center;
            line-height: 20px;
        }

        &__item {
            align-content: center;
            width: 33.3333%;
        }

    }

}