.main {
    position: absolute;
    top: 63px;
    left: 0;
    right:0;
    bottom: 0;
    background: $gray-background;
    padding: 10px 20px;

    &__container {
        margin: 0 auto;
    }

    &__previous-page {
        box-sizing: border-box;
        padding: 10px;
        padding-left: 15px;
        position: relative;

        &:before {
            position: absolute;
            content: '';
            width: 13px;
            height: 15px;
            top: 10px;
            left: 0;
            background: url(../image/sprite.png) -81px -27px;
        }
    }

    &__arrow {
        color: inherit;
    }

    &__tables {
        display: none;
        border-top: 1px solid $gray;
    }

    &__title {
        font-size: 2rem;
    }

    &__label {
        width: 20px;
        height: 18px;
        display: inline-block;

        &--plus {
            background: url(../image/sprite.png) -57px -24px;
            visibility: visible;
        }

        &--minus {
            background: url(../image/sprite.png) -22px -44px;
            display: inline-block;
            visibility: hidden;
            position: relative;
            right: 24px;
        }
    }

    &__toggle {

        &:checked ~ .main__tables {
            display: block;
            margin-top: 20px;
        }

        &:checked ~ .main__label--plus {
            visibility: hidden;
        }

        &:checked ~ .main__label--minus {
            visibility: visible;
        }
    }

    &__table {
        width: 100%;
        font-size: 1rem;
    }

    &__tr {
        border-bottom: 1px solid $gray;
    }

    &__td {
        width: 50%;
        padding: 5px;
        font-weight: bold;
        text-align: left;

        &--second {
            text-align: right;
            font-weight: normal;
        }
    }

    &__categories {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    &__category {
        width: 40%;
        text-align: center;
        text-transform: uppercase;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 10px 0;
        border: 1px solid $gray;
        border-bottom: none;

        &--checked {
            background: $gray;
            width: 60%;
        }
    }

    &__toolbar {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border: 1px solid $gray;
        border-top: none;
        padding: 20px 5px 0 5px;
        
    }

    &__tool-button {
        box-sizing: border-box;
        padding: 10px;
        border-radius: 5px;
        min-width: 40px;
        background: $gray-background;
        border: 1px solid $gray;
    }

    &__tool-item {
        margin-bottom: 5px;

        &--expand {
            width: 31.333%;
            margin-right:3%;
        }

        &--filter {
            width: 31.333%;
            margin-left:3%;
        }

        &--out {
            width: 31.333%;
        }

        &--select {
            width: 100%;
            
            & option {
                font-size: 0.2rem;
            }
        }
    }

    &__tool-button {
        width: 100%;
    }

    &__tool-select {
        width: 100%;
        border-radius: 5px;
        padding: 5px;
        border: 1px solid $gray;
}

}

@media screen and (min-width: 750px) {

    .main {
        position: absolute;
        top: 0;
        left: 250px;
        right:0;
        bottom: 0;
        padding: 10px 40px;
        

        &__container {
            max-width: 900px;
            position: relative;
        }

        &__toggle {

            &:checked ~ .main__tables {
                display: flex;
                justify-content: space-between;
            }
        }

        &__table {
            box-sizing: border-box;
            width: 50%;
        }

        &__toolbar {
            flex-wrap: nowrap;
            padding-bottom: 5px;
        }

        &__tool-item {

            margin: 0;

            &--out {
                position: absolute;
                top: 15px;
                right: 0px;
                width: 100px;
            }

            &--expand {
                width: 24%;
                margin-right: 1%;
            }

            &--filter {
                order: 2;
                width: 24%;
                margin-left: 1%;
            }

            &--select {
                order: 1;  
                width: 50%; 
            }
        }

        &__tool-select {
            box-sizing: border-box;
            width: 100%;
            padding: 9px 5px;
            
        }

        &__tool-button {
            width: 100%;
        }

    }
}
