.progressBar {
  width: 100%;
  border: 1px solid #dddddd;
  margin-bottom: 20px;
  border-radius: 5px;
  }

.progressBar-loaded {
  box-sizing: border-box;
  display: inline-block;
  background: #dddddd;
  white-space: nowrap;
  transition: all 0.5s ease-out;
  padding-left: 5px;
}