.header {
    $class: &;
    position: fixed;
    width: 100%;
    text-align: center;
    background: $white;
    z-index: 4;

    &__nav {
        visibility: hidden;
        position: fixed;
        transition-duration: .5s;
        top: 63px;
        left: -100%;
        width: 250px;
        height: 100%;
        margin: 0;
        list-style: none;
        background-color: $dark-gray;
        z-index: 4;  
    }

    &__nav-item {
        display: block;
        padding: 0;
        text-align: left;
        color: $little-dark-gray;
        border-bottom: 2px solid $black;
        font-size: 1.2rem;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            background-color: $black;
            color: $white;
        }

        &--last {
            border-bottom: none;
        }

    }

    &__user {
        padding: 18px 18px 18px 42px;
        position: relative;
        font-size: 0.8rem;
        width: 80px;
    }

    &__username {
        line-height: 20px;
        font-size: 1rem;
        text-transform: none;
    }

    &__arrow {
        display: block;
        color: inherit;
        padding: 18px;


        &--icon-quit {
            position: relative;
        }
    }

    &__logo {
        display: inline-block;
        height: 60px;
    }

    &__hide-menu {
        z-index: 9;
    }

    &__visibility-toggle {
        vertical-align: top;

        &:checked ~ #{$class}__nav {
            left: 0;
            visibility: visible;
            z-index: 10;    
        }

        &:checked ~ #{$class}__logo {
            outline: 5px solid transparent;    
         }

        &:checked ~ #{$class}__hide-menu {
           position: fixed;
           visibility: visible;
           top: 0;
           left: 0;
           right: 0;
           bottom: 0;
        }
    }

    &__button {
        @include display(flex);
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 10px;
        left: 5px;
        width: 50px;
        height: 50px;
        z-index: 60;
        cursor: pointer;
    }

    &__humburger,
    &__humburger::before,
    &__humburger::after
    {
        display: block;
        position: absolute;
        width: 25px;
        height: 4px;
        background-color: $red;
        content: '';
    }

    &__humburger:after {
        top: 8px;
    }

    &__humburger:before {
        top: -8px;
    }

}

@media screen and (min-width: $tablet-widths) {
    .header {
        position: fixed;
        top: 0;
        left:0;
        width: 250px;
        height: 100%;

        &__nav {
            display: block;
            visibility: visible;
            position: static;
            height: 100%;
            margin: 0;
            transition-duration: .25s;
            width: 250px;
            transition-duration: .25s;
        }

        &__toggle,
        &__button {
            display: none;
        }

        &__logo {
            height: 100px;
        }

        &__user {
    
            &:before {
                background: url(../image/sprite.png) -44px -2px;   
            }
        }

    }

}