@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
            border-radius: $radius;
}

@mixin display($flex) {
    -webkit-display: $flex;
       -moz-display: $flex;
        -ms-display: $flex;
            display: $flex;
}

