.category-item {
    background: inherit;
    display: flex;
    justify-content: space-between;
    border: 1px solid #dddddd;
    padding: 5px;
    overflow: hidden;
  }

.category-name {
  padding: 0 5px;
  vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    max-width: 140px;
    text-overflow: ellipsis;
}

.checked {
  background: #dddddd;
}

