$white: #ffffff;
$black: #000000;
$dark-gray: rgb(51, 51, 51);
$red: #ce0000;
$gray-background: #F2F2F2;
$gray: #D7D7D7;
$little-dark-gray:  rgb(151, 148, 148);

$button-bottom-gray: #E1E1E1;
$button-up-gray: #F0F0F0;

$light-blue: #C7D7ED;