  .main {
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #dddddd;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    justify-content: flex-start;
    align-content: center;
  }
  
